
/*---------------------------------------
    CONTENT
-----------------------------------------*/
.app-content {
  color: #000000;
  background-color: #fafafa;
  padding: 0 !important;
}

/*---------------------------------------
    USER ACCOUNT
-----------------------------------------*/
.logo-text {
  font-family: 'Roboto', 'open-sans';
  font-size: 2.5em;
  font-weight: 900;
  padding: 1.25em 0 1.25em 1.25em;
    -o-padding-before: 1.25em;
    -o-padding-after: 1.25em;
    -moz-padding-before: 1.25em;
    -moz-padding-after: 1.25em;
    -webkit-padding-before: 1.25em;
    -webkit-padding-after: 1.25em;
}

.logo-text-s {
  width: 106px;
  height: 23px;
  font-family: FagoExTf, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.nav-Active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f3f3f3;
    padding: 15px 0px;
}

.logo-box {
    width: 80%;
    padding: 9px 0px 9px 20px;
}

.logo-image {
    width: 21%;
}

.user-icon-box {
  bottom: 0;
  background-color: #3c4557;
  height: 6% !important;
  text-align: left;
  font-family: Roboto;
  font-size: 10px;
  color: #ffffff;
  padding: 0 10px 0 7px !important;
}
.user-icon-box a {
  color: #ffffff !important;
}
 
.user-icon-name {
  padding: 20px 5px 10px 5px;
  height: 13px;
}
.user-icon-image a img{
    background: #000;
    border-radius: 50%;
}
.user-icon-icon {
  padding-top: 5px;
  float: right;
}

/*---------------------------------------
    SIDE BAR
-----------------------------------------*/

.side-bar {
    color: #ffffff;
    height: 100vh;
    min-height: 100vh;
    background: #ffffff;
}

.sidebar-width {
  width: 100% !important;
}

/*Remove vertical scrollbar*/
.side-bar ::-webkit-scrollbar {
    width: 0px; 
    background: transparent;  
}
.side-bar ::-webkit-scrollbar-thumb {
    background: #cccccc;
}

.sidebar-item {
  display: block;
  height: 32px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  text-align: left;
  color: #c6c6c6;
  padding: 3px 0 10px 0;
}

.active-role {
  text-transform: uppercase;
  background-color: #2d3443;
  height: 29px !important;
  margin-left: -15px !important;
  padding-left: 15px !important;
  font-size: 10px !important;
  line-height: 2.4 !important;
  letter-spacing: 1px;
  color: #ffffff !important;
}

.active-role .text-style-1 {
  letter-spacing: normal;
}

.sidebar-item-active, .sidebar-item-active a :visited :active :hover :focus {
  color: #31c47c !important;
  text-decoration: none !important;
  background: #3b4455 !important;
  margin-left: -15px !important;
  padding-left: 15px !important;
}




