
.client-modal{
  padding: 0px 24px 60px 24px !important;
}

.client-modal-body{
	font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0px 24px 60px 24px !important;
  box-sizing: border-box;
  overflow-y: auto;
  border-top: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(224, 224, 224);
  max-height: 422px;
}
.add-contact {
	color: rgb(0, 188, 212);
  padding: 1em 0 2em 0;
}
.add-contact:hover, .add-contact:focus {
	background: rgba(153, 153, 153, 0.2);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	cursor: pointer; 
	cursor: hand;
}
.client-modal-actions {
	position: absolute;
  bottom: 0;
  padding: 0 5em 1em 2em;
}
.profile-container {
  padding: 3%;
  margin: 5%;
}
.profile-basics {
  text-align: center;
}
.profile-basics-box {
  display: flex;
}
.profile-basics-box table tr td, .profile-basics-box table tr th {
    padding: 8px 0 8px 5px;
    text-align: left;
}
.profile-entities h4 {
  padding-right: 2%;
}
.profile-update {
    position: fixed; 
    bottom:0%;
    width:100%;  
    opacity: 1;
}
/*Remove vertical scrollbar*/
.profile-container ::-webkit-scrollbar {
    width: 0px; 
    background: transparent;  
}
.profile-container ::-webkit-scrollbar-thumb {
    background: #cccccc;
}

.upload-unit {
  padding: 2% 0 0 2%;
}

.upload-unit label {
  font-size: 13px;
  color: #8c8c8c;
  font-weight: 500;
}
.shareholder-box {
    padding: 1em 0 1em 0;
}
.shareholder-checkbox label {
  font-size: 15px;
  color: #8c8c8c !important;
  font-weight: 500;
}

